<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>sign_tests.SignInTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Test_LoginSuccess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test_LoginInvalidPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test_LoginBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test_LoginInvalidUsername</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>openPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>refreshPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
