<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9570b7">  <td>21/12/29 14:17:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignInTest.refreshPage()[pri:0, instance:sign_tests.SignInTest@1de76cc7]">&lt;&lt;refreshPage</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>21/12/29 14:17:28</td>   <td>-20192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignInTest.openPage()[pri:0, instance:sign_tests.SignInTest@1de76cc7]">&gt;&gt;openPage</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>21/12/29 14:17:39</td>   <td>-9450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInTest.Test_LoginSuccess(java.lang.String,java.lang.String)[pri:0, instance:sign_tests.SignInTest@1de76cc7]">Test_LoginSuccess</td> 
  <td>main@867988177</td>   <td></td> </tr>
</table>
